*.docx
*.pdf
*.webp
*.xlsx
*.png
*.hwp
*.jpg
document_workspace/03 대웅그룹 이노베어 공모전 5기 모집/02 참고자료/(예정) 대웅제약 이노베어 이메일 문의 내용.txt
*.hwpx
*.pptx
*.zip
*.psxprj
*.avif
*.m4a
*.mp4
*.xls
*.doc
*.csv
*.drawio
*.svg
/document_workspace/대학원/02_실험/선배 자료
/document_workspace/대학원/02_실험
/document_workspace/대학원/01_연구과제
/document_workspace/대학원/03_수업
/document_workspace/대학원/06_회계
/document_workspace/대학원/05_학사행정
/document_workspace/대학원/08_행정_기타
/document_workspace/사업/창업/07 행사
/document_workspace/.tmp.driveupload
