*.docx
*.pdf
*.webp
*.xlsx
*.png
*.hwp
*.jpg
*.hwpx
*.pptx
*.zip
*.psxprj
*.avif
*.m4a
*.mp4
*.xls
*.doc
*.csv
*.drawio
*.svg
/document_workspace/.tmp.driveupload
/document_workspace/대학원/02_실험/선배 자료/이정구님
/document_workspace/대학원/06_회계
/document_workspace/대학원/03_수업
